body {
    background-color: #05ddf0;
}

#effect {
	background: #ffffff;
	border: 2px solid black;
}

#logo{
	
	overflow: auto;
	margin: auto;
}

img {
	display: block;
	margin: auto;
}

#container {
	width: 960px;
	height: 540px;
	background-image: url("../images/AM.jpg");
	padding: 18px;
	margin: auto;

	text-align: center;
	overflow: auto;
}

#letters a{
	color: #f89c1c;
	border-radius: 5px;
	padding: 5px;
	background-color: #ffffff;
	cursor: pointer;
	font-weight: 700;
	border-color: #f89c1c;
}

#header{
	font-weight: bold;
	
}
#letters a:hover{
	color: black;
	text-decoration-style: bold;
}



.btn-xs {
	width: 20px;
	margin-top: 5px;
  }
#m {
    
}

#lives {
 color:  #f89c1c;
    font-size: 50px;
}



#black {
    background-color:   black
}

.btn {
    background-color: red;
}





#guessed {
    font-size: 25px;
    color: #f89c1c;
}


