body {
    background-color: lightblue;
}



#container {
	width: 75%;
	border-radius: 5px;
	background-color: #dddddd;
	/*background-image: url("../images/buttonbkgrd.jpg");*/
	padding: 18px;
	margin: 5% auto;
	text-align: center;
	border: 2px solid green;
}

#letters a{
	color: red;
	border-radius: 5px;
	padding: 5px;
	background-color: darkgray;
	cursor: pointer;
	
}

#header{
	font-weight: bold;
}

}
#letters a:hover{
	color: green;
}

#letters a .d{
	color: yellow;
	text-decoration: underline;
}

.btn-xs {
	width: 20px;
  }
#m {
    
}

#lives {
 color: red;
    font-size: 50px;
}



#black {
    background-color:   black
}

.btn {
    background-color: red;
}





#guessed {
    font-size: 25px;
    color: red;
}


